/* 
    VARIABLES
*/
:root {
    /* Color Palette */
    
    --primary_color:#61A0AF;
    --secondary_color:#9593E6;
    --tertiary_color:#96C9DC;
    --detail_color:#F5D491;
    --white:#FFFFFF;
    --black: #0A0A0A;
    --grey:#808080;
}

.bg_main_color {
    background-color: var(--primary_color);
}

.bg_secondary_color {
    background-color: var(--secondary_color);
}

.bg_tertiary_color {
    background-color: var(--tertiary_color);
}

.main_color {
    color: var(--primary_color);
}

.secondary_color {
    color: var(--secondary_color);
}

.detail_color {
    color: var(--detail_color);
}
