
/* 
    GENERAL
*/

html {
    scroll-behavior: smooth;
}

/* Containers */

.container {
    margin: 0 auto;
    max-width: 62.5rem;
    padding: 0 .625rem;
}

.small_container {
    margin: 0 auto;
    max-width: 50rem;
    padding: 0 .625rem;
}



/* Icons and Buttons */

.fa-bars{
    color: var(--white);
    padding-top: .3125rem;
}

.fa-arrow-down {
    padding: .9375rem;
    border-radius: 50%;
    color: var(--black);
}

.quotes .fa-quote-left, .fa-quote-right {
    vertical-align: super;
}

.img_container .fa-quote-left {
   color: var(--secondary_color);
   font-size: 4em;
}

header #white_button a {
    color: var(--black);
    background-color: var(--white);
    padding: .3125rem .5rem;
    border-radius: .125rem;
    white-space: nowrap;
}

main .blue_button {
    color: var(--white);
    background-color: var(--primary_color);
    padding: .3125rem 1.875rem;
    border-radius: 3.125rem;
    text-decoration: none;
    white-space: nowrap;
}

main .purple_button button {
    color: var(--white);
    background-color: var(--secondary_color);
    padding: .625rem 2.1875rem;
    border-radius: 3.125rem;
    white-space: nowrap;
    border: none;
}


.card_txt i{
    font-size: 3em;
    color: var(--primary_color);
    padding-top: .9375rem;
}

/* Formatting txt */

.txt_center {
    text-align: center;
    padding-bottom: .625rem;
}

p {
    font-size: small;
    line-height: 1.25rem;
}





