/* 
    RESET
*/

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif; 
    }



/* 
    VARIABLES
*/
    :root {
        /* Color Palette */
        
        --white:#FFFFFF ;
        --black: #0A0A0A ;

    }


/* 
    GENERAL
*/



/* 
    HEADER
*/



/* 
    MAIN
*/



/* 
    FOOTER
*/



/* 
    DEBUG
*/



/* 
   !RESPONSIVE DESIGN
*/


/* Min width 768px */

@media screen and (min-width: 768px) {
    
}

/* Min width 992px */

@media screen and (min-width: 992px) {
    
}

