@import "reset.css";
@import "general.css";
@import "colors.css";

/* 
    HEADER
*/

header {
    padding: .625rem;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: none;
}

.menu ul li {
    display: inline-block;
    list-style: none;
    padding: 0 .625rem 0 .625rem;
}

.menu ul li a {
    color: var(--white);
    text-decoration: none;
}

.logo img {
    padding-right: .3125rem;
}


/* 
    MAIN
*/

main section {
    margin-top: .9375rem;
}

main section:nth-of-type(even) {
    padding-bottom: 1.875rem
}

main section:nth-of-type(odd) {
    padding-bottom: 2.5rem;
}

/* Features Section */

.cards {
    display: flex;
    flex-wrap: wrap;
} 

.card {
    width: calc(100% - 1.25rem);
    margin: .625rem .625rem;
    border-radius: 1.25rem;
}

.card_content_left {
    padding: .9375rem .9375rem;
}

.card_content_left > * {
    padding-top: .625rem;
}

.card_content_left > p{
    padding-bottom: 1.25rem;
}

.card_content_right img{
    width: 80%;
    display: block;
}

.card_content_right {
    padding-left: .9375rem;
}

.card h4 {
    color: var(--primary_color);
}

.card_txt > * {
    padding: .625rem;
}

/* Planning Section */

.my_row {
    display: flex;
    flex-wrap: wrap;
}

.my_column {
    width: 100%;
    margin: .625rem;
}

.my_column_txt {
    color: var(--white);
}

.my_column .my_column_txt {
    margin-top: 3.5rem;
}

.my_column_txt > p {
    padding-top: 2.5rem;
}

.my_column img {
    width: 100%;
}

.my_column_content {
    border-radius: 3.125rem;
    color: var(--black);
} 

.my_column_content > * {
    padding: 1.25rem .625rem;
}

.my_column:first-child{
    padding-top: 1.25rem;
}

/* Testimonial Section */

.testimonials > * { 
    padding-top: 1.25rem;
}

.testimonials h4 {
    font-size: smaller;
}

.testimonials h3 {
    color: var(--secondary_color);
}

.testimonials_cards {
    margin: .9375rem;
    padding: .625rem;
    border-radius: 1.875rem;
}

.testimonials_img {
    width: 9.375rem;
    height: 9.375rem;
    margin: 0 auto;
    padding: .9375rem;
}

.testimonials_img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block; 
   border-radius: 50%;
}

.quotes {
    text-align: center;
    color: var(--white);
}

.quotes > * {
    padding: .9375rem .625rem;
}


.title {
    padding: 2.5rem 0;
    color: var(--white);
    font-size: 1.5em;
}

.title h3 {
    font-size: medium;
}

/* Benefits Section */

.my_col_6 {
    width: 100%;
    background-color: var(--white);
    margin: .9375rem .9375rem ;
    padding-bottom: 2rem;
    border-radius: 1.875rem;
}

.my_col_6_content {
    color: var(--secondary_color);
}

.my_col_6_content > h2 {
    font-size: 3em;
}

.my_col_6_content > * {
    padding: .9375rem 2.1875rem;
}

.my_col_6_content > p {
    padding-bottom: 2.25rem;
}

/* About Us Section */

.about_us_container {
    margin: .9375rem .9375rem;
}

.about_us > * {
    padding-top: 1.5625rem;
}

.about_us h2 {
    color: var(--secondary_color);
}

.img_about_us {
    padding-top: 1.875rem;
}

.img_container {
    position: relative;
    width: 9.375rem;
    height: 9.375rem;
}

.img_container .fa-quote-left {
    position: absolute;
    top: -.625rem;
    right: -1.25rem;
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    border-radius: 50%;
}

.about_us_txt > * {
    padding: 1.5625rem 0;
}

.about_us_txt h3 {
    color: var(--secondary_color);
}

/* 
    FOOTER
*/

/* Get Started Section */

footer h2 {
    color: var(--detail_color);
    font-size: 3.125rem;
}

.footer_top {
    background-color: var(--secondary_color);
    padding: 1.875rem;
    color: var(--white);
}

.footer_top_txt > * {
    padding: .9375rem;
}

.footer_links > * {
    display: inline-block;
    color: var(--white);
    font-size: small;
}

/* Copyright Section */

.footer_links span:before {
    content: ".";
}

.footer-links a:before {
    content: ".";
}

.footer_bottom_text > * {
    padding: 1.875rem;
}

.footer_bottom_txt p > a {
    color: var(--secondary_color);
}


/* 
   !RESPONSIVE DESIGN
*/


/* Min width 768px */

@media screen and (min-width: 768px) {

    /* MAIN */

    /* Features Section */

    .card {
        width: calc((100% / 3) - 1.25rem);
    }

    .card:first-child {
        width: calc(((100% / 3) *2) - 1.25rem);
    }

    .card_txt p {
        line-height: 1.875rem;
    }

    .card_content_right img {
        width: 50%;
    }

    .column_txt > h2 {
        font-size: 3em;
    }

    /* Testimonial Section */

    .testimonials h3{
        font-size: 1.8em;
    }

    .testimonials_cards {
        display: flex;
        align-items: center;
    }

    .testimonials_img {
        margin: 0; 
    }

    .quotes {
        text-align: left;
    }
    
    .testimonials_cards .quotes, .about_us {
        width: 70%;
    }

    /* Benefits Section */

    .title h3 {
        font-size: larger;
    }

    .my_col_6 {
        width: calc((100% / 2) - 1.875rem);
    }

    /* About Us Section */

    .about_us_container {
        display: flex;
        align-items: center;
    }

    .about_us > h2 {
        font-size: 3em;
    }
    
    .img_about_us {
        width: 30%;
        padding-top: 0;
    }
    
    .about_us, .img_about_us {
       margin: .9375rem;
    }

    /* FOOTER */

    footer .small_container {
        padding: 0 6.25rem;
    }

    .footer_top_text > h3 {
        font-size: 2.2em;
    }
    
}

/* Min width 992px */

@media screen and (min-width: 992px) {
    
    /* HEADER */

    .container {
        width: 100%;
    }

    .menu {
        display: block;
        padding-top: .3125rem;
    }

    .hamburger {
        display: none;
    }


    /* MAIN */

    /* Features Section */

    .card:first-child {
        display: flex;
    }

    .card_content_right img {
        width: 80%;
        padding-top: 2.5rem;
    }

    .card_txt i { 
        padding-top: 1.875rem;
    }

    /* Planning Section */

    .my_row {
        align-items: flex-end;
        justify-content: center;
    }
    
    .my_column {
        width: calc((80% / 2) - 1.25rem);
        margin-bottom: 3.5rem;
        margin-top: 4.5rem;
    }

    .my_column:first-child img {
        width: 100%;
    }

    .my_column_content img {
        width: 80%;
    }

    .my_column .my_column-txt {
        margin-top: 5.5rem;
    }

    .my_column-txt > h2 {
        font-size: 1.5em;
    }

    .my_column_content > * {
        padding: .625rem .3125rem;
    }

    .testimonials h3 {
        font-size: 2.2em;
    }

    /* Benefits Section */

    .my_col_6 {
        width: calc((100% / 3) - 1.875rem);
    }

    /* About Us Section */

    .about_us {
        margin-left: 1.5625rem;
    }

    .img_about_us {
        padding-top: 3.125rem;
    }
    
}

